<!DOCTYPE html>
<html lang="es">
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.11.7")
  -->
  <head>
    <meta charset="UTF-8">
    <title>Formulario de contratación</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.11.7/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <!-- Para realizar peticiones a las apis AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <!-- Etiqueta contenedora de quasar -->
    <div id="q-app">
        <div class="row">
            
            <div class="col-xs-1 col-md-3"></div>
            <div class="col-xs-10 col-md-6">
                <div class="row">
                    <div class="col-12  q-mt-md">
                        <q-input filled v-model="userName" label="Usuario"></q-input>               
                    </div>
                    <div class="col-12  q-mt-md">
                        <q-input filled v-model="password" label="Contraseña"></q-input>               
                    </div>
                    <div class="col-12  q-mt-md">
                        <q-input filled v-model="asin" label="ASIN"></q-input>              
                    </div>
                    <div v-if="!showSpinner" class="col-12  q-mt-md text-right">
                        <q-btn color="primary" label="Generar Avatar" @click="generarAvatar"></q-btn>             
                    </div>

                    <div v-if="showSpinner" class="col-12  q-mt-md text-right">
                        <span class="q-mr-md">Generando Avatar</span>
                        <q-spinner-bars color="primary" size="3em"></q-spinner-bars>            
                    </div>

                    <div v-if="avatarTxt!=null" class="col-12  q-mt-md">
                        <q-input v-model="avatarTxt" filled type="textarea"></q-input>             
                    </div>

                  </div>
            </div>
            <div class="col-xs-1 col-md-3"></div>
        </div>     
  </div>


    <!-- Add the following at the end of your body tag -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.11.7/dist/quasar.umd.prod.js"></script>
    <script></script>

    <script src="app.js"></script>

  </body>
</html>